<!doctype html>
<html ng-app="TransversalLookupApp">
<head>
  <!-- Angular Material CSS using GitCDN to load directly from `bower-material/master` -->
  <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">

  <!-- Data Table style sheet -->
  <link href="static/md-data-table.min.css" rel="stylesheet" type="text/css"/>

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Javascript using GitCDN to load directly from `bower-material/master` -->
  <script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>

  <!-- data table module -->
  <script type="text/javascript" src="static/md-data-table.min.js"></script>

  <!-- graph js module -->
  <!-- <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>  -->
  <script type="text/javascript" src="static/Chart.min.js"></script>
  <script type="text/javascript" src="static/angular-chart.min.js"></script>


  <title>Xml transversal lookup</title>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">

</head>
{% raw %}
<body ng-controller="LookupController">
  <md-content>
    <md-toolbar class="title">
      <md-icon class="title-icon" md-svg-src="static/images/logo.svg"></md-icon>
      <h2 md-truncate>Xml transversal lookup</h2>
    </md-toolbar>
  </md-content>

  <md-content>
    <md-card class="menu">
      <md-input-container flex=2>
        <label>Database</label>
        <md-select ng-model="selection.database" ng-change="selectDb()">
          <md-option ng-repeat="db in data.databases track by $index" ng-value="db">
            {{db}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex=2>
        <label>Node type</label>
        <md-select ng-model="selection.node_type" ng-change="getAttrs()">
          <md-option ng-repeat="type in data.node_types | orderBy: 'name' track by type.id" ng-value="type" ng-selected="{{ type.id === selection.node_type.id ? 'true' : 'false' }}">
            {{type.name}}
          </md-option>
        </md-select>
      </md-input-container>


      <md-input-container>
        <label>Nodes groups</label>
        <md-select ng-if="data.nodesGroups" ng-model="selection.nodesGroup">
          <md-option ng-repeat="(name, values) in data.nodesGroups" ng-value="name">
            {{name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-button class="md-fab md-primary" aria-label="nodes filters" ng-click="toggleNodesFilter()" >
        <md-tooltip md-direction="bottom">nodes filters</md-tooltip>
        <md-icon md-svg-src="static/images/ic_filter_list_black_24px.svg"></md-icon>
      </md-button>


      <md-input-container>
        <label>Attributes groups</label>
        <md-select ng-if="data.attributesGroups" ng-model="selection.attributesGroup">
          <md-option ng-repeat="(name, attributes) in data.attributesGroups" ng-value="name">
            <md-tooltip md-direction="bottom"><span ng-repeat="attr in attributes track by attr">{{attr}},</span></md-tooltip>
            {{name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-button class="md-fab md-primary" aria-label="Attributes filters" ng-click="toggleAttributesFilter()">
        <md-icon md-svg-src="static/images/ic_filter_list_black_24px.svg"></md-icon>
      </md-button>

    </md-card>

    <md-card ng-if="nodesFiltered">
      <md-card-content>
        <md-input-container>
          <div ng-repeat="node in data.nodes | orderBy: node">
          <md-checkbox ng-checked="nodeSelected(node)"
                       ng-click="toggleNode(node)">
            <span>{{node.split(".").slice(-1)[0]}}</span>
          </md-checkbox>
        </div>
        </md-input-container>

      </md-card-content>
    </md-card>

    <md-card ng-if="attributesFiltered">
      <md-card-content>
        <md-button class="md-primary" aria-label="Advanced filter" ng-click="toggleAdvancedSearch()">
          <md-tooltip md-direction="bottom">multi word search (slower)</md-tooltip>
          Advanced search
        </md-button>

        <md-input-container flex>
          <label>Search for custom attributes:</label>
          <md-chips ng-model="selection.attributes"
                    md-autocomplete-snap
                    md-transform-chip="transformChip($chip)"
                    md-require-match="true">
            <md-autocomplete
                md-selected-item="selectedItem"
                md-search-text="searchAttribute"
                md-items="attr in attrSearch(searchAttribute)"
                md-item-text="attr"
                placeholder="Search for attributes">
              <span md-highlight-text="searchAttribute">{{attr.split(".").slice(-1)[0]}}</span`>
            </md-autocomplete>
            <md-chip-template>
              <span>
                <md-tooltip md-direction="bottom">{{$chip}}</md-tooltip>
                <strong>{{$chip.split(".").slice(-1)[0]}}</strong>
              </span>
            </md-chip-template>
          </md-chips>
        </md-input-container>

      </md-card-content>
    </md-card>

    <md-card ng-if="selection.attributes.length > 0">
      <!-- Data table -->
      <md-table-container>
        <table md-table ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column><span>{{selection.node_type.name}}</span></th>
              <th md-column ng-repeat="attr in selection.attributes"><span>{{attr.split(".").slice(-1)[0]}}</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="(node, attributes) in filteredData.all">
              <td md-cell>
                <md-button style="width:300px;">
                  <md-tooltip md-direction="bottom">{{node}}</md-tooltip>{{node.split(".").slice(-1)[0]}}
                </md-button>
              </td>
              <td md-cell ng-repeat="attr in selection.attributes">
              <div ng-if="attributes[attr] === undefined"> Missing </div>
              <div ng-if="!angular.isArray(attributes[attr])"> {{attributes[attr]}} </div>
              <div ng-if="angular.isArray(attributes[attr])">
                <select>
                  <option ng-repeat="case in attributes[attr] track by $index">{{case}}</option>
                </select>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
    </md-card>

    <md-card ng-if="selection.attributes.length > 0">
      <canvas class="chart chart-bar" chart-data="data.chartData" chart-labels="data.chartLabels" chart-dataset-override="data.datasetOverride"></canvas>
    </md-card>

  </md-content>
</body>
{% endraw %}
</html>
