html {
}

body {
  color: #dddddd;
  max-width: 80%;
  margin-left: 10%;
}

md-toolbar.title {
  display: flex;
  flex-direction: row;
}

table.md-table th.md-column, table.md-table td.md-cell {
  color: #fff;
}

.title-icon {
  width: 200px;
}

.title h2 {
  width: 100%;
  font-size: 0.9em;
  padding-top: 0.2em;
}

.menu {
  display: flex;
  flex-direction: row;
}

canvas {
  padding-top: 10px;
  padding-bottom: 10px;
}
